# Naive Bayes

In [6]:
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import csv

In [7]:
df = pd.read_csv("base.csv")
df

     Obs  Ingreso  AnosEst  Edad
0      1      354        5    27
1      2      432        4    24
2      3      404        9    29
3      4      891        6    19
4      5       12       10    23
5      6      595        2    21
6      7      174        5    21
7      8      322       10    28
8      9      514        4    25
9     10      856       12    22
10    11      160        7    21
11    12      657        9    20
12    13      696       10    18
13    14      367        9    24
14    15      134        5    22
15    16      124        9    30
16    17       42       12    21
17    18      514        2    25
18    19      408        8    27
19    20      180        9    24
20    21      166        3    26
21    22      126        8    28
22    23      363        1    20
23    24      953       12    30
24    25      784       10    22
25    26      284        6    25
26    27      715       12    23
27    28      600        3    29
28    29       90       12    25
29    30      322        6    18
..   ...      ...      ...   ...
270  271     2545       18    52
271  272     3117       21    75
272  273     2651       23    78
273  274     3068       23    76
274  275     3050       25    56
275  276     3467       24    58
276  277     2959       20    73
277  278     2511       20    71
278  279     2954       18    57
279  280     3348       17    56
280  281     3334       21    62
281  282     3148       18    62
282  283     3351       23    61
283  284     3157       16    53
284  285     3122       20    64
285  286     2740       19    67
286  287     3395       16    60
287  288     3067       23    70
288  289     2559       25    75
289  290     2868       17    59
290  291     2895       18    64
291  292     3489       16    63
292  293     2550       19    69
293  294     3352       23    64
294  295     2964       23    64
295  296     2934       16    76
296  297     2616       16    73
297  298     2791       23    79
298  299     2811       19    63
299  300     3321       20    57

[300 rows x 4 columns]

In [8]:
def trans(x):
    if x>0 and x<1000:
        return 1
    elif x>1000 and x<2500:
        return 2
    else:
        return 3

In [9]:
df["Ingreso2"]=[trans(x) for x in df["Ingreso"]]

In [10]:
gnb = GaussianNB()
modelo=gnb.fit(df[['Edad','AnosEst']],df['Ingreso2'])

In [11]:
modelo.predict([50,25])

array([3], dtype=int64)